@font-face {
	font-family: 'Proxima Nova';
	src: url('assets/Proxima-Nova-Regular.woff2') format('woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('assets/Proxima-Nova-Semibold.woff2') format('woff2');
	font-weight: 600;
}

body {
	margin: 0;
	font-family: "Proxima Nova", Arial, Tahoma, PingFangSC, sans-serif, "Seogoe UI Emoji", "Noto Emoji";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-soomthing: grayscale;
}

.App {
  background: #000;
  height: 100vh;
  display: grid;
  place-content: center;
}

main {
  border: 1px solid #fff;
  aspect-ratio: 9/16;
  max-height: 80vh;
  border-radius: 3px;
  max-width: 375px;
  width: 100vh;
}